i.fa-solid.fa-thumbtack {
    font-size: 26px;
    color: #952a7e;
    position: absolute;
    right: 9px;
    bottom: -25px;
}
.pinClass {
    text-align: end;
}

 .activity-list.customClass .activity-item>div.item-avatar {
    position: relative !important;
    float: left;
    margin-right: 10px;
    z-index: 1;
    left: 0 !important;
    top: 0 !important;
}
/* .activity-list.item-list.bp-list.custom .activity-list.item-list.bp-list.custom {
    display:none;
} */

/*
.who-reacted.custom:nth-child(n+2) {
    display: none;
}


.who-reacted:nth-child(n+3):not(.custom) {
    display: none;
}
*/


/* ul.activity-list.item-list.bp-list.custom .activity-item.pinnedPosts {
    display: block;
}

ul.activity-list.item-list.bp-list.custom .new_avatar{
    display: none;
}
ul.activity-list.item-list.bp-list ul.activity-list.item-list.bp-list.custom {
    display: none;
}
 */
.activity-list.item-list.bp-list .activity-list.custom {
    display: none;
}
.custom .activity-item .who-reacted .top-reactions {
    display: flex;
    align-items: center;
    gap: 5px;
}
